* {
    box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #bbb;
}
.container-bloc {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.bloc {
  width: 280px;
  height: 280px;
  margin: 20px;
  background-color: #fff;
}
.bloc:hover {
  border: 2px solid red;
}
